@font-face {
	font-family: "SourceSans";
	src: url("../fonts/SourceSans3-VariableFont_wght.ttf") format("truetype");
}
@font-face {
	font-family: "PressStart2P";
	src: url("../fonts/PressStart2P-Regular.ttf") format("truetype");
}
@font-face {
	font-family: "Chicago";
	src: url("../fonts/Chicago.ttf") format("truetype");
}
.font-montserrat {
	font-family: "Montserrat", sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
}
.font-source-sans {
	font-family: "SourceSans", sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
}
.font-press-start {
	font-family: "PressStart2P", sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
}
.font-chicago {
	font-family: "Chicago", sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
}
.aliased {
	font-smooth: none;
	text-rendering: optimizeSpeed;
	-webkit-font-smoothing: none;
}
